/* css/style.css */
body {
            font-family: Arial;
            text-align: center;
            margin-top: 50px;
}

.box {
    border: 2px dashed #ccc;
    padding: 30px;
    width: 300px;
    margin: auto;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}